/temp/VGG19_full_training
/VGG19_IMP03_ticket
/simple_pruning_smart_init17.h5
/classical_truning_on_train.h5
/start_for_trune800.h5
/new_trune_workspace_ckp2.h5
/partial_training_checkpoints
/new_trune_workspace_ckp3.h5
/new_trune_workspace_ckp4.h5
/VGG19_IMP02_LRrew
/VGG19_IMP03_LRrew
/VGG13_2000it
/VGG13_full
